<!--The content below is only a placeholder and can be replaced.-->

<div class='container-fluid'>
  <app-navbar></app-navbar>
  <div class='header bg-header'>
    <h1 class='text-center'>The Future of travel & Crytocurrency ATM's</h1>
    <!--Header button sections-->
    <div class='row'>
      <div class='col'></div>
      <div class='col-md-4 text-center btn-pad'>
        <button class='btn btn-outline-primary btn-lg btn-DST'>White Paper</button>
        <p>The World at your Fingerprints</p>
      </div>
      <div class='col-md-4 text-center'>
        <button class='btn btn-outline-primary btn-lg btn-DST'>Learn More</button>
        <p>Book with DST and save</p>
      </div>
      <div class='col'></div>
    </div>
    <!--End header button sections-->
    <!--Header price Destiniva tokens-->
    <h2 class='text-center preSaleTitle'>Pre Sale</h2>
    <div class='row'>
      <div class='col'></div>
      <div class='col-md-4 text-center btn-pad'>
        <p>Start: {{date}}</p>
      </div>
      <div class='col-md-4 text-center'>
        <p>Price: <span class='price'>${{price}}</span></p>
      </div>
      <div class='col'></div>
    </div>
    <!--Ends price destiniva tokens sections-->
  </div>
</div>
