<div class="container-fluid">
<div class="wrapper bg-frontPage">
  <h1 class="text-center title">
      The Future of travel &amp; Crytocurrency ATM's
  </h1>
  <h4 class="text-center currentBalance"><strong>Current BTC Balance: </strong>{{ balance / 1000000000 }}</h4>
  <div class="d-flex justify-content-center d-btn-group">
      <div class="btn-group btn-group-sm" role="group" aria-label="...">
        <button class="btn btn-outline-primary">White Paper</button>
        <button class="btn btn-outline-primary">Learn More</button>
        <button class="btn btn-outline-primary">Video</button>
      </div>
  </div>
  <div class="countdown mx-auto">
  <app-countdown></app-countdown>
  </div>
</div><!--Wrapper ends-->
<!-- tourism market -->
<div class="row">
  <div class="col-md-6 bg-blue">
      <p class="text-center">
          Destiniva Tokens Potential Market <br>
         <span>7.6 Trillion Dollars</span>
      </p>
  </div>
  <div class="col-md-6 bg-sky">
      <p class="text-center p-text">
          Travel &amp; Tourism Market by 2027 <br>
        <span>16 Trillion Dollars</span>
      </p>
  </div>
</div>
</div><!--Tourism market End -->
<!-- Video Container -->
<div class="videoCona mx-auto">
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/logos/logo_transparent_backgroundblue_jet.png" alt="destiniva logo" class="img-fluid imgVideo">
    </div>
<div class="col-md-8 col-sm-12 mx-auto text-center videoCona">
    <button type="button" class="play" data-toggle="modal" data-target=".video"></button>
    <img src="../../assets/video/Captura.JPG" class="img-fluid">
    <div class="modal fade video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <iframe src="https://player.vimeo.com/video/281491191" width="950" height="460" frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen></iframe>
        </div>
      </div>
    </div>
</div>
  </div>
</div>
<!-- Video Container Ends -->
<!-- Toke Sales Stages -->
<div class="stages">
  <h2 class="stages-title text-center">Token Sales Stages</h2>
<div class="row">
  <div class="col-md-5 table-padding">
      <table class="table table-sm">
          <thead class="thead-blue">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Hard Cap</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>April 20 to May 10</td>
              <td class="price">$ {{ prices[0] }}</td>
              <td>2.0 B Destiniva Tokens</td>
            </tr>
           <!-- <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>-->
          </tbody>
        </table>
  </div>
  <div class="col-md-2 text-center">
    <img src="../../assets/token/DestinivaToken.png" alt="" class="img-fluid token-img">
  </div>
  <div class="col-md-5 table-padding">
          <table class="table table-sm">
              <thead class="thead-blue">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Date</th>
                  <th scope="col">Price</th>
                  <th scope="col">Hard Cap</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>1st 48</td>
                  <td class="price">$ 0.008</td>
                  <td>8.2 B</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>July 17-20</td>
                  <td class="price">$0.01</td>
                  <td>Destiniva</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>July 21-25</td>
                  <td class="price">$0.02</td>
                  <td>Tokens</td>
                </tr>
              </tbody>
            </table>
  </div>
</div>
</div><!-- stages Ends -->
<!-- Exchange Logo Section -->
<div class="exchange">
  <h2 class="text-center">Exchange</h2>
  <p></p>
  <div class="row">
    <div class="col hidden"></div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/BINANCE.png" alt="binance Logo" class="card-header img-fluid card-img">
            <a href="https://www.binance.com" class="card-body text-info btn btn-info btn-exchange">
              BINANCE
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/bitfinex.png" alt="bitfinex Logo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              BITFINEX
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/bittrex.png" alt="bittrex Logo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              BITTREX
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/crytopia.png" alt="crytipia Logo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              CRYTOPIA
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/EXMO.png" alt="exmo Logo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              EXMO
            </a>
        </div>
    </div>
    <div class="col hidden"></div>
  </div>
  <div class="row">
    <div class="col hidden"></div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/gdax-logo-2.png" alt="Gdax Logo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              GDAX
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/kraken.png" alt="KrakenLogo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              KRAKEN
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/liqui-logo.png" alt="Liqui Logo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              LIQUI
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/livecoin-logo.png" alt="Livecoin Logo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              LIVECOIN
            </a>
        </div>
    </div>
    <div class="col-md-2 col-6">
        <div class="card border-info mb-3" style="max-width: 18rem; margin: auto;">
            <img src="../../assets/exchange-logo/Poloniex-logo-800px.png" alt="Poloniex Logo" class="card-header img-fluid card-img">
            <a href="#" class="card-body text-info btn btn-info btn-exchange">
              POLONIEX
            </a>
        </div>
    </div>
    <div class="col hidden"></div>
  </div>
</div>
<!-- Exchange Logo Section Ends-->
<div class="logoContainer">
  <div class="row">
    <div class="col-md-5 text-center">
      <div class="pad-logoEffects">
        <h4 class="text-center">
          Get the Best of Cryptocurrencies with Destiniva
        </h4>
        <a class="btn-draw" *ngIf="!authService.isAuthenticated()" (click)="authService.login()"><span>Buy Destiniva Token</span></a>
      </div>
    </div>
    <div class="col-md-7">
      <div class="logoeffects text-center">
          <div class="avatar mx-auto">
            <img src="../../assets/logos/logo_transparent_backgroundblue_jet.png" alt="" width="100px" height="100px" class="img-fluid imgeffects">
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Cryptocurrency entry barriers Section -->
<div class="bg-imageCrytoEntry">
    <h3 class="text-center">Breaking the Barriers to Cryptocurrency Entry</h3>
    <p class="text-justify pad-top15">
      Cryptocurrency present advantage which make them a great alternative to fiat. However at their current stage they are out
  of reach for regular people. The means and services which made possible to enter the world of cryptocurrency are too
  costly and complicated for regular people. Destiniva is here to act as the bridge between peopple and Cryptocurrency by
  disrupting the travel &amp; tourism industry via Distiniva Tokens (DST)
    </p>
    <div class="row">
      <div class="col-md-2 text-center">
           <h4 class="text-center">
             Woldwide
           </h4>
      </div>
      <div class="col-md-2 text-center">
        <h4 class="text-center">
          1.2 Billion
        </h4>
        <p class="text-center">
          Potential DST Users
        </p>
      </div>
      <div class="col-md-2 text-center">
        <h4 class="text-center">
          Low Cost
        </h4>
        <p class="text-center">
          0 - 1.9% ATM fee
        </p>
      </div>
      <div class="col-md-2 text-center">
        <h4 class="text-center">
          Limitless
        </h4>
        <p class="text-center">
          No Limits on # of DST you can Transfer
        </p>
      </div>
      <div class="col-md-2 text-center">
        <h4 class="text-center">
          Boarderless
        </h4>
        <p class="text-center">
          Send DST anywhere in the world
        </p>
      </div>
      <div class="col-md-2 text-center">
        <h4 class="text-center">
          Big Saving
        </h4>
        <p class="text-center">
          save 5 - 10% when Booking
        </p>
      </div>
    </div>
  </div>
<!-- Cryptocurrency entry barriers section endes -->
<!-- DST Mission section -->
<div class="row token">
    <div class="col-md-5">
      <h3 class="text-center">
        Destiniva Tokens (DST)
      </h3>
      <p class="text-justify">
        DST is a EIP20 Compliant token used as a saving
        mechanism token on the Destiniva.io booking platform.
        You are able to use your DST to purchase flight tickets,
        reserve hotel stays, and even rent vehicles, all for a much
        lower price than with traditional fiat.
      </p>
      <p class="text-justify">
        In other words, these serve as reward points on the
        platform. But inlike traditional reward point system, DST
        tokens have real value and allow you to have full control
        over them (Descentralized). You can use them to save
        money when booking your getaway, send to family and
        friends, and more.
      </p>
    </div>
    <div class="col-md-2 text-center">
      <img src="../../assets/token/DestinivaToken.png" alt="Destiniva Token" class="img-fluid DSTToken" />
    </div>
    <div class="col-md-5">
      <h3 class="text-center">
        Our Mission
      </h3>
      <p class="text-justify">
        Our Mission is to break the barrier to Cryptocurrency entry
        to disrupting the massive and profitable Travel &amp; Tourism
        insdustry through the implementation of DST Tokens in a way
        that make DST easily accessible, Affordable and rewarding
        for the billions of travelers and people all around the world.
      </p>
      <p class="text-justify">
        Thus ptentially making Destiniva TOkens DST the
        Cryptocurrency of choice of billions
      </p>
    </div>
  </div>
<!-- DST Mission section ends-->
<!-- Types of DST Platform Section -->
<div class="platforms">
    <div class="row mtb">
      <div class="col-md-4 img-pc">
        <img src="../../assets/DST-Platforms/www.destiniva.PC.png" alt="Destiniva Trading Platform" class="img-fluid platform-img">
      </div>
      <div class="col-md-8">
        <h3 class="text-center">
          Descentralized Trading platforms
        </h3>
        <p class="text-justify">
            The Platform's design features will enhance the
            experience of the user by making the platform look
            and feel elegant, easy, and simple to use to allow
            experienced traders as well as regular people to easy
            transition from centralized exchanges to our decentralized
            platform.
        </p>
        <p>Features</p>
        <div class="row mtb">
          <div class="col-md-6">
            <ul>
              <li>Full control over your data</li>
              <li>No data breach attacks</li>
              <li>Advanced trading features</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>Your funds or assets will never be frozen</li>
              <li>Easy deposit and withdrawal of assets</li>
              <li>Descentralized governance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Destiniva Platform -->
    <div class="row">
      <div class="col-md-8">
          <h3 class="text-center">
              Revolutionazing the Travel Industry
            </h3>
            <p class="text-justify">
                A next generation travel booking platform where travelers are
                rewarded with the lowets prices on the entire market simply for using
                DST Tokens at checkout.
            </p>
            <p>Features</p>
            <div class="row">
              <div class="col"></div>
              <div class="col-md-8">
                <ul>
                  <li>Users can enjoy 5-10% off
                      when using DST to cover
                      for their travel experinses
                  </li>
                  <li>Beautiful &amp; Simple to use interface</li>
                  <li>Access to countless deals</li>
                  <li>Access to the most luxurious hotels, exclusive
                    airlines, and vehicles.
                  </li>
                </ul>
              </div>
              <div class="col"></div>
            </div>
      </div>
      <div class="col-md-4 img-laptop">
        <img src="../../assets/DST-Platforms/www.destiniva.LT.png" alt="" class="img-fluid platform-img img-right">
      </div>
    </div>
  </div>
<!-- Types of DST Platform section ends -->
<!-- Mobile Section -->
<div class="mobileApp">
    <div class="row">
      <div class="col-md-6 mtb p-top mobileText">
          <h3 class="title-pdr imgF" id="imgOne" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()"><i class="fas fa-mobile-alt"></i> Top of the line Mobile Application</h3>
          <p class="text-pdr">
              Easy acces to interact with the exchange as
              well as our atms on the go with this simple
              to use, mobile application where you can
              trade DST, locate our atms send &amp; receive
              DST and other cryptocurrencies, and more!
          </p>
          <h3 class="title-pdr imgS" id="imgTwo" (mouseover)="mouseOver()" (mouseleave)="mouseLeave()"><i class="far fa-check-square"></i> Easy Check out with DST</h3>
        <p class="text-pdr">
            if you already own DST in your account
            simply presss "Pay with DST" and the total #
            od DST's needed to cover for entire
            reservation cost will automatically be
            deduted the system will provide you with
            instructions and reservation details so you
            are able to sit back, relax and look forward
            to your dream getaway.
        </p>

      </div>
      <div class="col-md-6 mtb p-top" id="platformMobile">
      </div>
    </div>
  </div>
<!-- Mobile Section Ends -->
<!-- Atm Section -->
<div class="crypto-atm pd-tb">
    <h2 class="text-center">Crypto-ATMs with the lowest fees in the world</h2>
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-center">World's lowest fees</h5>
        <p class="text-center">0% <br> <span>selling fee</span></p>
        <p class="text-center">1.9% <br> <span>Buying fee</span></p>
        <p class="text-center">Convenience <br> <span>Sell at any of our Cryoti-ATMs</span></p>
      </div>
      <div class="col-md-4 text-center imgATM">
        <img src="../../assets/background/www.destiniva.ATM.png" alt="cryto-atm" class="img-fluid atm-img">
      </div>
      <div class="col-md-4">
          <h5 class="text-center text-shadow">Why ATMs</h5>
          <p class="text-center text-shadow">Speed<br> <span>Online exchange coin take
            many days if not weeks
          </span></p>
          <p class="text-center text-shadow">Cash <br> <span>Access cash without the need of
            your bank's approval not limit a must when abroad.
          </span></p>
          <p class="text-center text-shadow">Familiar <br> <span>First time crypto-customers (travelers)
            prefer an ATMs transaction experience.
          </span></p>
      </div>
    </div>
  </div>
<!-- Atm Section Ends -->
<!-- Token Ecosystem -->
<div class="bg-imgEcoSyst mtb">
    <h2 class="text-center pad-15">Token Ecosystem</h2>
    <div class="row">
      <div class="col-md-8">
        <ul>
          <li>Bourght and Sold at Coinexis Cryto-ATM's</li>
          <li>Purchase, Sold, and Traded at Coinexis Descentralized Exchange</li>
          <li>Sent between peers (Peer to Peer Transactions)</li>
          <li>Traded at the most popular centralized Exchange (Bittrex, bitsmap, Poloniex,
            Bitfinex, Coinbase, Kraken, Bithumb, Binance, GDAX, HitBTC, Gemini)</li>
          <li>Used to reward the community and its Users</li>
          <li>Used to cover Coinexis Descentralized Exchange Fee</li>
          <li>Used in Destiniva's Travel Platform as a saving Mechanism
            to Purchase Flight tickets
          </li>
          <li>Book hotel reservations, and even rent vehicles for a much
            more comfortable stay for less.
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <img src="../../assets/token/DestinivaToken.png" alt="Destiniva Tokens" class="img-fluid tokenImg">
        <h3 class="text-center">Token Potential</h3>
        <p class="text-justify">
            The travel and tourism industry is one of the largest, and
            most stable industries in the world. it connects billions of
            travelers from around the world each year. It is for this
            reason that DST tokens will be in high demand by
            potentially billions of people, from all around the world
            and as a result has the big potential to become the #1
            cryptocurrency in the world
        </p>
      </div>
    </div>
  </div>
<!-- Token Ecosystem Ends-->
<app-roadmap></app-roadmap>
<!-- Team Section -->
<div class="team mtb">
    <h2 class="text-center">Meet the Team</h2>
<div class="row">
  <div class="col"></div>
  <div class="col-md-4 text-center">
    <img src="../../assets/team/2018-04-20-13-42-www.destiniva.CEO.png" alt="Ricardo Morales CEO &amp; Co-Founder" class="img-fluid img-rounded team-members-img">
    <h4 class="text-center">Ricardo Morales</h4>
    <h6 class="text-center">CEO &amp; Co-Founder</h6>
  </div>
  <div class="col-md-4 text-center">
      <img src="../../assets/team/2018-04-20-13-42-www.destiniva.Cofounder.png" alt="Oscar Thorbjormsem Co-Founder &amp; Head of PR in Europe" class="img-fluid img-rounded team-members-img">
      <h4 class="text-center">Oscar Thorbjormsem</h4>
      <h6 class="text-center">Co-Founder &amp; Head of PR in Europe</h6>
  </div>
  <div class="col"></div>
</div>
</div>
<!-- Team Section Ends -->
<!-- FAQ Section -->
<div class="accordion pd-tb" id="accordion">
  <h2 class="text-center">FAQ</h2>
    <div class="card">
      <div class="card-header card-FAQ" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link btn-FAQ" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is Destiniva?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-FAQ" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed btn-FAQ" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            What is the difference between Destiniva and Coinexis?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-FAQ" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed btn-FAQ" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            When will you release your mobile application?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header card-FAQ" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed btn-FAQ" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              When does Destiniva ICO start?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
          <div class="card-header card-FAQ" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed btn-FAQ" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What makes Destiniva Tokens Unique?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header card-FAQ" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed btn-FAQ" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  What are the token holders benefits?
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header card-FAQ" id="headingSeven">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed btn-FAQ" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Is there a minimum amount of tokens to buy?
                  </button>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header card-FAQ" id="headingEight">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed btn-FAQ" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                     Are there any special offers regarding DST Sale?
                    </button>
                  </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
  </div>
<!-- FAQ Section ends-->
<!-- Footer -->
<div class="footer">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li class="list">Home</li>
          <li class="list"></li>
          <li class="list"></li>
          <li class="list">Team</li>
          <li class="list">White Paper</li>
          <li class="list"></li>
        </ul>
      </div>
      <div class="col-md-4">
          <ul class="footerMails">
              <li class="list"><span>Contact us:</span> support@destiniva.io</li>
              <li class="list"><span>Marketing:</span> marketing@destiniva.io</li>
              <li class="list"><span>Special Offer: </span>special@destiniva.io</li>
              <li class="list"><span>For Press: </span>press@destiniva.io</li>
              <li class="list"></li>
              <li class="list"></li>
            </ul>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-2">
        <ul>
          <li class="social"><i class="fab fa-facebook-f"></i> <span>Facebook</span></li>
          <li class="social"> <i class="fab fa-twitter"></i> <span>Twitter</span></li>
          <li class="social"> <i class="fab fa-instagram"></i> <span>Instagram</span></li>
          <li class="social"> <i class="fab fa-reddit"></i> <span>Reddit</span></li>
        </ul>
      </div>
    </div>
    <div class="text-center copy">&copy; Destiniva 2017-2018</div>
  </div>
<!-- Footer Ends -->
